/*========================== INICIO = Banner + descrição ==========================*/
.banner_eventos {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 460px;
    background: linear-gradient(0deg, rgba(17, 2, 2, 0.65), rgba(17, 2, 2, 0.65)),url("/Imagens/Página 03 _Eventos_/bannerEventos.jpeg");
    background-size:cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-top: 20px solid var(--corVerde);
    border-bottom: 20px solid var(--corVerde);
}

.banner_eventos h1 {
    padding-left: 12%;
    padding-right: 12%;
    margin: 0 auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-style: var(--tituloBanner);
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.banner_eventos_colorido {
    color: var(--corLaranja);
}

.banner_eventos_descricao {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    background-color: var(--corMarromClaro);
}

.banner_eventos_descricao p {
    text-align: center;
    font-size: var(--paragrafo-font-size);
    margin: 0 auto;
    color:#FFFFFF;
}

@media (max-width: 960px) {
    .banner_eventos {
        background-position: 0% 55%;
        height: 325px;
    }

    .banner_eventos h1 {
        padding-left: 6%;
        padding-right: 6%;
        font-size: var(--tituloBanner-font-size);
        line-height: 48px;
        padding-bottom: 8%;
    }

    .banner_eventos_descricao {
        padding-left: 12%;
        padding-right: 12%;
    }

}

@media (max-width: 720px) {
    .banner_eventos {
        background-position: 0% 65%;
        height: 305px;
    }

    .banner_eventos h1 {
        font-size: 30px;
        line-height: 38px;
        padding-bottom: 8%;
    }

    .banner_eventos_descricao {
        padding-left: 8%;
        padding-right: 8%;
    }

    .banner_eventos_descricao p {
        font-size: 15px;
    }
}


/*========================== FIM = Banner + descrição ==========================*/

  
/*========================== INICIO = Boteco + carrosel ==========================*/

/*========================== FIM = Boteco + carrosel ==========================*/


/*========================== INICIO = Eventos realizados ==========================*/
.eventos_realizados{
    width: 100%;
    height: 2045px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.eventos_realizados h3{
    font-size: var(--tituloSecao-font-size);
    font-weight: var(--tituloSecao-font-weight);
    color: #494949;
}
.subtitulo{
    font-size: var(--paragrafo-font-size);
    font-weight: 400;
    width: 75%;
    text-align: center;
}
.backgroundimg{
    width: 650px;
    height: 322px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav_1 .img_1{
    background-image: url("../Imagens/Página 03 _Eventos_/Remember/remember1.jpeg"); 
}
.nav_1 .img_2{
    background-image: url("../Imagens/Página 03 _Eventos_/Remember/remember2.jpeg"); 
}
.nav_1 .img_3{
    background-image: url("../Imagens/Página 03 _Eventos_/Remember/remember3.jpeg"); 
}
.nav_1 .img_4{
    background-image: url("../Imagens/Página 03 _Eventos_/Remember/remember4.jpeg"); 
}
.nav_2 .img_1{
    background-image: url("../Imagens/Página 03 _Eventos_/Noite Árabe/arabe1.jpeg");
}
.nav_2 .img_2{
    background-image: url("../Imagens/Página 03 _Eventos_/Noite Árabe/arabe2.jpeg");
}
.nav_2 .img_3{
    background-image: url("../Imagens/Página 03 _Eventos_/Noite Árabe/arabe3.jpeg");
}
.nav_3 .img_1{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Costela fogo de chão/costela1.jpeg");
}
.nav_3 .img_2{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Costela fogo de chão/costela2.jpeg");
}
.nav_3 .img_3{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Costela fogo de chão/costela3.jpeg");
}
.nav_4 .img_1{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Buteco dos amigos/buteco1.jpg");
}
.nav_4 .img_2{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Buteco dos amigos/buteco2.jpg");
}
.nav_4 .img_3{
    background-image: url("../Imagens/Página\ 03\ _Eventos_/Buteco dos amigos/buteco3.jpg");
}
.container_slides{
    width: 100%;
    text-align: center;
}
.carrossel_eventos{
    background-color: var(--corLaranja);
    width: 100%;
}

.carrossel_eventos_2{
    background-color: var(--corSangue);
    width: 100%;
}
.carrossel_eventos_3{
    background-color: var(--corCinzaClaro);
    width: 100%;
}
.carrossel_eventos_4{
    background-color: var(--corVerde);
    width: 100%;
}
.slides{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
[data-slide] {
    position: relative;
}

[data-slide] > * {
    position: absolute;
    top: 0px;
    display: none;
}
[data-slide] > .active{
    position: relative;
    display: inline-block;
}
[data-slide-nav] {
    display: block;
    text-align: center;
}
[data-slide-nav] button {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 4px;
    border: none;
    border-radius: 6px;
    color: var(--corCinzaClaro);
    font-size: 1px;
}

.nav_1 [data-slide-nav] .active {
    background-color: var(--corLaranja);
    color: var(--corLaranja);
}
.nav_1 button:hover{
    background-color: var(--corLaranja);
}
.nav_2 [data-slide-nav] .active{
    background-color: var(--corSangue);
    color: var(--corSangue);
}
.nav_2 button:hover{
    background-color: var(--corSangue);
}
.nav_3 [data-slide-nav] .active{
    background-color: var(--corPreto);
    color: var(--corCinzaClaro);
}
.nav_3 button:hover{
    background-color: var(--corPreto);
}
.nav_4 [data-slide-nav] .active{
    background-color: var(--corVerde);
    color: var(--corVerde);
}
.nav_4 button:hover{
    background-color: var(--corVerde);
}
.event{
    font-size: var(--tituloItem-font-size);
    font-weight: var(--tituloItem-font-weight);
    padding-bottom: 10px;
}
.event_1{
    color: var(--corLaranja);
}
.event_2{
    color: var(--corSangue);
}
.event_3{
    color: var(--corPreto);
}
.event_4{
    color: var(--corVerde);
}
.event_4 span{
    font-size: 1.5rem;
}

@media(max-width: 768px){
    .eventos_realizados{
        height:  1950px;
        justify-content: space-around;
        
    }
}
@media(max-width: 650px){
    .backgroundimg{
        width: 375px;
        height: 200px;
    }
}
@media(max-width: 368px){
    .eventos_realizados{
        height: 803px;
    }
    
    .backgroundimg{
        width: 274px;
        height: 106px;
        background-size: cover;
        background-position: center;
    }
    .eventos_realizados h3{
        font-size: 18px;
    }
    .subtitulo{
        font-size: 10px;
        width: 90%;
    }
    .event{
        font-size: 12px;
    }
    [data-slide-nav] button {
        width: 6px;
        height: 6px;
    }
    .event_4 span{
        font-size: 0.8rem;
    }
}
/*========================== FIM = Eventos realizados ==========================*/