/* Início - Seja nosso parceiro */
.container_seja_nosso_parceiro{
    font-family: Rubik, Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: var(--corSangue);
    height: 306px;
    display: flex;
    justify-content: space-around;
    color: #FEE1C1;
}

.seja_nosso_parceiro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: var(--paragrafo-font-size);
    /* width: 422px; */
    line-height: 21px;
}
.seja_nosso_parceiro h3{
    color: var(--corBranco);
    font-weight: var(--tituloSecao-font-weight);
    font-size: var(--tituloSecao-font-size);
}
.imagem_parceiro{
    margin-top: 2%;
    width: 229px;
    height: 229px;
    background-image: url("/Imagens/Página 01 _Home_/imagemParceiro.png");
    background-size: cover;
}

.contato_parceria { 
    display: flex;
    align-items: center;
}
.contato_parceria div {
    text-align: center;
    background-color: var(--corBranco);
    color: var(--corVerde);
    font-weight: var(--textoBotao-font-weight);
    font-size: var(--textoBotao-font-size);
    padding: 7.44px 32.7px 7.44px 32.7px ;
}
@media (max-width: 768px){
    .container_seja_nosso_parceiro{
        height: 278px;
        /* justify-content: space-around; */
    }
    .seja_nosso_parceiro h3{
        font-size: 30px;
    }
    .seja_nosso_parceiro{
        font-size: 13px;
        /* width: 308px; */
    }
    /* .seja_nosso_parceiro .text_seja_nosso_parceiro{
        margin-left: 64px;
    } */
    .imagem_parceiro{
        width: 211px;
        height: 211px;
    }
    .contato_parceria div{
        width: 165px;
    }
}

@media (max-width: 498px){
    .container_seja_nosso_parceiro{
        height: 229px;
    }
    .seja_nosso_parceiro{
        font-size: 10px;
        width: 174px;
    }
    .seja_nosso_parceiro h3{
        font-size: 16px;
        /* line-height: 19px; */
    }
    .imagem_parceiro{
        width: 87.92px;
        height: 211px;
        background-position: center;
    }
    .contato_parceria img{
        width: 31.33px;
        height: 29.38px;
    }
    .contato_parceria div{
        width: 77px;
        padding: 7px 8px 7px 8px;
    }
    /* .seja_nosso_parceiro .text {
        margin-left: 50px;        
    } */
}
/* Fim - Seja nosso parceiro */