/* css das setinhas e menu dos banners */
#setinhaEsquerda {
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 25px;
    box-shadow: 2px -2px 0 1px #FFFFFF inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    z-index: 1;
  }

#setinhaDireita {
    position: absolute;
    top: 30%;
    left: 92%;
    padding: 25px;
    box-shadow: 2px -2px 0 1px #FFFFFF inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    z-index: 1;
  }

.banner_home_menu {
    display: flex;
    position: relative;
    top: -5em;
    left: 45%;
    z-index: 1;
}

.banner_nav_ponto {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


@media (max-width: 960px) {
    #setinhaEsquerda {
        top:17%;
        padding:20px;
    }
    #setinhaDireita {
        top:17%;
        padding:20px;
    }
    .banner_home_menu {
        left:42%;
    }
}

@media (max-width: 720px) {
    #setinhaEsquerda {
        top:18%;
        left:6%;
        padding:12px;
    }
    #setinhaDireita {
        top:18%;
        left:88%;
        padding:12px;
    }
    .banner_home_menu {
        top: -4em;
        left:36%;
    }
    .banner_nav_ponto {
        width: 17px;
        height: 17px;
        margin-left: 18px;

    }
}
/* fim css seinhas e menu */

/* container do carrosel de imagens */
.banner_home_principal {
    overflow: hidden;
}


.banner_elements {
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}
/* Fim do container do carrosel de imagens */


/* Inicio do Primeiro slide do banner */
.banner_home_primeiro {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    max-width: 100%;
    height: 460px;
    background: linear-gradient(0deg, rgba(17, 2, 2, 0.65), rgba(17, 2, 2, 0.65)),url("/Imagens/Página 01 _Home_/bannerHome1.jpeg");
    background-size:cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-top: 20px solid var(--corVerde);
    border-bottom: 20px solid var(--corVerde);
}

.banner_home_primeiro h1 {
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-style: var(--tituloBanner);
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.banner_home_primeiro_colorido {
    color: var(--corVerde);
}



@media (max-width: 960px) {
    .banner_home_primeiro {
        background-position: 0% 55%;
        height: 325px;
    }

    .banner_home_primeiro h1 {
        padding-left: 15%;
        padding-right: 15%;
        font-size: var(--tituloBanner-font-size);
        line-height: 48px;
        padding-bottom: 8%;
    }

}

@media (max-width: 720px) {
    .banner_home_primeiro {
        background-position: 0% 65%;
        height: 305px;
    }

    .banner_home_primeiro h1 {
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 8%;
    }
}
/* Fim do Primeiro slide do banner */
/* Inicio do Segundo slide do banner */
.banner_home_segundo {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    max-width: 100%;
    height: 460px;
    background: linear-gradient(0deg, rgba(17, 2, 2, 0.65), rgba(17, 2, 2, 0.65)),url("/Imagens/Página 01 _Home_/bannerHome2.jpg");
    background-size:cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-top: 20px solid var(--corVerde);
    border-bottom: 20px solid var(--corVerde);
}

.banner_home_segundo h1 {
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-style: var(--tituloBanner);
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.banner_home_segundo_colorido {
    color: var(--corLaranja);
}



@media (max-width: 960px) {
    .banner_home_segundo {
        background-position: 0% 55%;
        height: 325px;
    }

    .banner_home_segundo h1 {
        padding-left: 15%;
        padding-right: 15%;
        font-size: var(--tituloBanner-font-size);
        line-height: 48px;
        padding-bottom: 8%;
    }

}

@media (max-width: 720px) {
    .banner_home_segundo {
        background-position: 0% 65%;
        height: 305px;
    }

    .banner_home_segundo h1 {
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 8%;
    }
}
/* Fim do Segundo slide do banner */
/* Inicio do Terceiro slide do banner */
.banner_home_terceiro {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    max-width: 100%;
    height: 460px;
    background: linear-gradient(0deg, rgba(17, 2, 2, 0.65), rgba(17, 2, 2, 0.65)),url("/Imagens/Página 01 _Home_/bannerHome3.jpg");
    background-size:cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-top: 20px solid var(--corVerde);
    border-bottom: 20px solid var(--corVerde);
}

.banner_home_terceiro h1 {
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-style: var(--tituloBanner);
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.banner_home_terceiro_colorido {
    color: var(--corVerde);
}



@media (max-width: 960px) {
    .banner_home_terceiro {
        background-position: 0% 55%;
        height: 325px;
    }

    .banner_home_terceiro h1 {
        padding-left: 15%;
        padding-right: 15%;
        font-size: var(--tituloBanner-font-size);
        line-height: 48px;
        padding-bottom: 8%;
    }

}

@media (max-width: 720px) {
    .banner_home_terceiro {
        background-position: 0% 65%;
        height: 305px;
    }

    .banner_home_terceiro h1 {
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 8%;
    }
}
/* Fim do Terceiro slide do banner */