.faq_container{
    font-family: var(--font-family);
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.perguntas_container{
    width: 73%;
    height: 75%;
    margin-top: 5%;
}
.title_faq{
    font-size: var(--tituloSecao-font-size);
    font-weight: var(--tituloSecao-font-weight);
    color: green;
}
.down_faq{
    font-size: var(--subtituloLight-font-size);
    color: #C4C4C4;
    margin-bottom: 3%;
}
.up_faq{
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item_pergunta{
    width: 100%;
    margin-bottom: 8px;
    padding: 2px;
    border: 1px solid #E19F55;
    background-color: #E19F55;
}
.link_pergunta{
    padding: 0.7% 0 0.7% 0;
    font-weight: var(--textoBotao-font-weight);
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--corLaranja);
    width: 100%;
    display: flex;
    align-items: center;
    
}
.resposta{
    max-height: 0px; 
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    transition: max-height 650ms;
}
.resposta p{
    padding: 2% 5%;
}
.item_pergunta:target .resposta{
    max-height: 73px;
}
hr{
    border: none;
    border-top: 2px dashed #C4C4C4;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #FFFFFF;
    margin: 1% 3% 1% 2%;
}
  @media (max-width: 768px) {
      .faq_container{
          height: 475px;
      }
    .perguntas_container{
        width: 80%;
    }  
    .title_faq{
        font-size: 30px;
    }
    .down_faq{
        font-size: 20px;
        text-align: center;
    }
    .resposta p {
        font-size: 13px;
    }    
    .link_pergunta{
        font-size: 16px ;
    }    
  }
  @media (max-width: 320px) {
    .faq_container{
        height: 383px;
    }
    .perguntas_container{
        width: 90%;
    }
    .title_faq{
        font-size: 18px;
    }
    .down_faq{
        font-size: 16px;
        text-align: center;
    }
    .resposta p {
        font-size: 10px;
    }    
    .link_pergunta{
        font-size: 13px ;
    }
    .triangle-down{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 13px solid #FFFFFF;
    }
  }