:root{
    --paragrafo-font-size: 18px;
    --tituloSecao-font-size: 36px;
    --tituloItem-font-size: 24px;
    --subtituloSecao-font-size: 30px;
    --textoBotao-font-size: 18px;
    --tituloBanner-font-size: 40px;
    --paragrafoMenor-font-size: 14px;
    --subtituloLight-font-size: 24px;
    --endereco-font-size: 12px;
    --menuFonte-font-size: 20px;
    
    --tituloSecao-font-weight: bold;
    --tituloItem-font-weight: bold;
    --subtituloSecao-font-weight: bold;
    --textoBotao-font-weight: bold;
    --tituloBanner: medium;
    
    --corVerde: #5E7C02;
    --corBranco: #FFFFFF;
    --corPreto: #000000;
    --corSangue: #701E22; /* Ou vermelho escuro*/
    --corLaranja: #E19F55;
    --corCinzaClaro: #C4C4C4; 
    --corMarromClaro: #645A5A; /*A cor da barra de cima do protótipo, onde tem "Feito por Beets Jr, ou algo assim*/
    --corEfeitoBanner: #A6110202; /*A cor para deixar a imagem do banner meio escura*/
    
    --font-family: "Rubik", "Verdana", "Arial";
}